.promo{
    margin-bottom: 75px;

    h1{
        line-height: 120%;
        font-weight: 800;
        margin-bottom: 28px;

        span{
            color: #FFA239;
        }
    }
    p{
        margin-bottom: 262px;

        @media screen and (max-width: 991px) {
            margin-bottom: 285px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 24px;
        }
    }
    .promo-bg{
        height: 628px;
        background: url('../../img/bg.png') center no-repeat;
        background-size: contain;

        @media screen and (max-width: 991px) {
            height: 670px;
        }
        @media screen and (max-width: 768px) {
            background: none;
            height: auto;
        }

        .promo-bg-md {
            display: none;
            @media screen and (max-width: 768px) {
                display: block;
                margin-bottom: 20px;
            }
        }
    }
    .promo__list li{
        display: flex;
        align-items: baseline;
        gap: 12px;
        margin-bottom: 8px;

        &:last-child{
        margin-bottom: 0;
        }   
    }
    
}